.list-item,
.list-item-selected {
    width: 80%;
    padding: 10px 0;
    margin: 5px 0;
    border: 2px solid salmon;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.list-item:hover {
    background-color: rgba(250, 128, 114, 0.4);
    color: white;
    
}

.list-item:active, 
.list-item-selected {
    background-color: rgba(250, 128, 114, 0.8);
    color: white;
}