.list-item,
.list-item-selected {
    width: 80%;
    padding: 10px 0;
    margin: 5px 0;
    border: 2px solid rgb(250, 240, 230, 0.1);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.list-item:hover {
    background-color: rgba(250, 240, 230, 0.4);
    color: rgb(1, 10, 20);
    
}

.list-item:active, 
.list-item-selected {
    background-color: rgba(250, 240, 230, 0.5);
    color: rgb(1, 10, 20);
    box-shadow: 0 0 10px rgba(250, 240, 230, 0.5);
}